<b><u>Milestone 2 - Model Inferencing</u></b>

Nama : Muhammad Azhar Khaira

Batch : RMT-033

Objectives:

Ini adalah model inferencing dari hasil pemodelan `P1M2_azhar_khaira.ipynb`

In [34]:
import pandas as pd
import joblib

In [35]:
# load model.pkl
model = joblib.load("deployment/model.pkl")

In [36]:
# new data
new_data = pd.DataFrame([
    {
    'no_of_dependents': 3,
    'education': ' Graduate',
    'self_employed': ' Yes',
    'income_annum': 9100000,
    'loan_amount': 29700000,
    'loan_term': 20,
    'cibil_score': 500,
    'residential_assets_value': 7100000,
    'commercial_assets_value': 4500000,
    'luxury_assets_value': 33300000,
    'bank_asset_value': 12800000
    },
    {'loan_id': 11,
    'no_of_dependents': 4,
    'education': ' Graduate',
    'self_employed': ' Yes',
    'income_annum': 2900000,
    'loan_amount': 11200000,
    'loan_term': 2,
    'cibil_score': 123,
    'residential_assets_value': 8100000,
    'commercial_assets_value': 4700000,
    'luxury_assets_value': 9500000,
    'bank_asset_value': 3100000
    },
    {'no_of_dependents': 2,
    'income_annum': 9800000,
    'loan_amount': 37600000,
    'loan_term': 10,
    'cibil_score': 641,
    'residential_assets_value': 24100000,
    'commercial_assets_value': 0,
    'luxury_assets_value': 23400000,
    'bank_asset_value': 7600000
    },
    {'no_of_dependents': 4,
    'income_annum': 400000,
    'loan_amount': 900000,
    'loan_term': 12,
    'cibil_score': 478,
    'residential_assets_value': 700000,
    'commercial_assets_value': 100000,
    'luxury_assets_value': 1200000,
    'bank_asset_value': 100000}
])

In [37]:
# inferencing new data
predict = model.predict(new_data)

# prediction
print("Hasil Predict: ", predict)
new_data["loan_approval"] = predict
new_data.T

Hasil Predict:  [' Rejected' ' Approved' ' Approved' ' Rejected']

                                  0          1          2          3
no_of_dependents                  3          4          2          4
education                  Graduate   Graduate        NaN        NaN
self_employed                   Yes        Yes        NaN        NaN
income_annum                9100000    2900000    9800000     400000
loan_amount                29700000   11200000   37600000     900000
loan_term                        20          2         10         12
cibil_score                     500        123        641        478
residential_assets_value    7100000    8100000   24100000     700000
commercial_assets_value     4500000    4700000          0     100000
luxury_assets_value        33300000    9500000   23400000    1200000
bank_asset_value           12800000    3100000    7600000     100000
loan_id                         NaN       11.0        NaN        NaN
loan_approval              Rejected   Approved   Approved   Rejected